* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #303032;
}
main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  gap: 40px;
  padding: 60px 0;
}
.text--medium {
  font-family: "Open sans", sans-serif;
  font-synthesis: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}
.cards {
  grid-column: 2 / span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  gap: 40px;
}
.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  background-color: #39393b;
  //cursor: pointer;
  transition: all 0.3s ease 0s;
  &__image--container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    transition: transform .5s ease;
    img {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__content {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  &__title {
    margin-bottom: 20px;
  }
  .fab {
    font-size: xx-large;
    padding-left: 20px;
    transition: all 0.3s;
    color: #fff;
    &:hover {
      transform: scale(1.5);
    }
    // &:active,&:link,&:visited{
    //   color: #fff;
    // }
  }
}
@media only screen and(max-width:1000px) {
  .card {
    grid-column-end: span 6;
  }
}
@media only screen and(max-width:700px) {
  main {
    gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}
@media only screen and(max-width:500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}
