@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla, sans-serif;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1472905981516-5ac09f35b7f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

h1:hover {
  background: rgba(0, 0, 0, 0.8);
}

h1:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/* BookMarks */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.item:hover {
  background: rgba(0, 0, 0, 0.6);
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name img {
  width: 20px;
  height: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

.fa-times {
  float: right;
  cursor: pointer;
  z-index: 2;
}

/* Modal */
.modal {
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  -webkit-animation: modal 1s;
          animation: modal 1s;
}

@-webkit-keyframes modal {
  from {
    opacity: 0;
    width: 20%;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal {
  from {
    opacity: 0;
    width: 20%;
  }
  to {
    opacity: 1;
  }
}

.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-header {
  background: #7c69b0;
  color: white;
  padding: 15px;
}

.modal-content {
  padding: 20px;
  background: whitesmoke;
}

h3 {
  margin: 0;
}

.show-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-icon {
  float: right;
  color: white;
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
  cursor: pointer;
}

.close-icon:active {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid #7c69b0;
  border-radius: 10px;
  display: block;
  outline: none;
}

.form-label {
  color: #7c69b0;
  display: block;
}

button {
  cursor: pointer;
  color: white;
  background: #7c69b0;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

button:focus {
  outline: none;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

/* Media Query */
@media screen and (max-width: 600px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
