@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Karla,sans-serif;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1472905981516-5ac09f35b7f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80);
  background-position: center;
  background-size: cover;
}

h1 {
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  width: 275px;
  margin: 20px auto 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1:hover {
  background: rgba(0, 0, 0, 0.8);
}

h1:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
